body{
    background-image: url("../img/airplane2.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.h2{
    text-align: center;
}
.h4{
    text-align: center;
}
.div{
    border: 1px solid black;
    width: 400px;
    border-radius: 50px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(229, 160, 160);
    opacity: 1;
}
a{
    color: brown;
    text-decoration-line: none;
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
}